body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 150%;
  background-color:rgb(254, 247, 238);
}
header{
  background-color: lightgray;
}
/* li{
  display: inline-block;
  width: 30%;
} */
h1{
  text-align:center;
  font-family:"Monotype Corsiva", cursive;
  color:darkblue
}
main{
  background-color: yellow;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
}
p{
  line-height:123%
}
footer{
  background-color: lightgray;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; ;
}
a{
  color:rgb(99, 29, 99)
}
nav{
  max-width: 80%;
}
/* nav img{
  width: 10%
} */
.grid{
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content:space-around;
  align-items: center;
  row-gap: 10px;
}
.grid img{
  width: 100%;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around ;
  align-items: center;
  padding: 50px;
}

.flex ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
}
.flex img {
    width: 10%;
}
.flex li{
  display: flex;
  justify-content: center;
}